@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 410px;
}

footer {
    background-color: #000;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style-type: none;
    color: #fff;
}

.v-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.highlight{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.5em 0.5em;
}

.navbar-brand img{
    max-width: 100px;
}

.navbar a,
.navbar .navbar-toggler{
    color: #000;
}

.navbar a:hover,
.navbar .navbar-toggler:hover {
    color: #C43B3B;
}

.hero{
    background-size: cover;
    background-position: center;
    min-height: 700px;
    position: relative;
}

.car{
    cursor: pointer;
}

.error{
    color:#C43B3B;
}